---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{{site.author-name}}</h2>
          <body>
<p><i>Hey there! I'm Divya, a DMV-based photographer who loves capturing perfect moments.</i></p>
          
<p>I am an aficionado of the arts- this includes dance, painting, photography, food décor, and basically any DIY project. The biggest struggle for me has always been balancing the part of me that is a complete science geek and the part of me that is passionate about art. One of my biggest regrets has always been how I completely neglected my artistic interests as soon as I began to attend my STEM-focused high school. After a lot of thinking and support from my friends and family, I'm glad that I finally found the courage to give my other interests a chance.</p> 

<p>My life motto is to make the most out of every opportunity I get. Through photography, I hope to challenge myself to use even the most simple and ordinary backgrounds to create unique and interesting photos. I hope to really get to know the people I work with and hear their life stories. I hope to make people smile and laugh throughout the entire process because ultimately it should be a fun and exciting one!</p>

<p>10 things to know about me:</p>
<ol type="1">
  	<li style="text-align: left">I'm a proud colonial and hoo.</li>
  	<li>Anyone who doesn't pour in the milk before the cereal is doing it wrong.</li>
  	<li>If there is a disorder for excessive laughing, I have it.</li>
	<li>Lying on top of a pile of clean, fresh-smelling laundry is at the top of my guilty pleasures list.</li>
	<li>I have an unhealthy addiction for tasty videos- ESPECIALLY  the ones with gooey, stretchy, and gorgeous-looking cheese.</li>
	<li>The best way to eat Nutella is straight out of the jar.</li>
	<li>I'll have breakfast all day any day.</li>
	<li>I dance to Meghan Trainor when no one's around.</li>
	<li>I have never ever ordered anything other than Chicken Chalupa Supremes at Taco Bell.</li>
	<li>I'm a strong believer that everything happens for a reason.</li>
</ol> 

<p>Bonus: I actually created this photography website and it was my first time experimenting with HTML and CSS using GitHub.</p>
            
       </body>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
