---
layout: default
---
{% include header.html %}

<main class="post_content">
  <article class="post">
    <header>
      <div class="post_image">
        <img src="/assets/img/bokeh.png">
      </div>
      <div class="post_description">
        <p class="post_meta">{{page.date | date: '%Y, %b %d'}}</p>
        <h1 class="post_title">{{page.title}}</h1>
      </div>
    </header> <!-- End Header -->

    <div class="entry_content">
      {{page.content | markdownify}}
      <h3> Gallery </h3>
      <body>
        
       {% if page.gallery1 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery1}} alt="{{page.title}}">
      {% endif %}
        
      {% if page.gallery2 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery2}} alt="{{page.title}}">
      {% endif %}
        
        {% if page.gallery3 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery3}} alt="{{page.title}}">
      {% endif %}
        
         {% if page.gallery4 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery4}} alt="{{page.title}}">
      {% endif %}
        
         {% if page.gallery5 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery5}} alt="{{page.title}}">
      {% endif %}
        
         {% if page.gallery6 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery6}} alt="{{page.title}}">
      {% endif %}
        
         {% if page.gallery7 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery7}} alt="{{page.title}}">
      {% endif %}
        
         {% if page.gallery8 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery8}} alt="{{page.title}}">
      {% endif %}
        
        {% if page.gallery9 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery9}} alt="{{page.title}}">
      {% endif %}
        
        {% if page.gallery10 %}
      <img src={{ "/assets/img/" | prepend: site.baseurl | append : page.gallery10}} alt="{{page.title}}">
      {% endif %}
     
      </body>
    </div>
    
    <div class="post_wrapper">
      <footer class="post_footer cf">
        <div class="post_tag">
          <span>Tags:</span>
          {% for tag in page.tags %}
          <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">{{ tag }}</a>
          {% endfor %}
        </div>
      </footer>
    </div>
  </article> <!-- End Section Post -->

  <section class="author cf">
    <div class="post_wrapper">
      <div class="author_image">
        <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{ site.author-pic }}{% endif %}" alt="Author face">
      </div>
      <div class="author_info">
        <h2 class="author_title">{{site.author-name}}</h2>
        <p class="author_subtitle">{{site.about-author}}</p>
        <div class="author_social">
          <span class="author_email"><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></span>
          <span class="author_phone"><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:{{site.phone}}">{{site.phone}}</a></span>
                 
        </div>
      </div>
    </div>
  </section> <!-- End Section Author -->

  <section class="recent_box">
    <div class="post_wrapper">
      <h2 class="recent_title">Recent post</h2>
      <div class="recent_list">
        {% for post in site.posts offset:0 limit:6 %}
          {% if post.title %}
            <a href="{{ root_url }}{{ post.url }}" class="recent_item" style="background-image: url( {{ "/assets/img/" | prepend: site.baseurl | append : post.img}} )"><span>{{ post.title }}</span></a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </section> <!-- End Section Recent Box -->
  
</main> <!-- End Section Post Content -->

{% include footer.html %}
